[client]
default-character-set = utf8

[mysql]
port = 3306
socket = /var/lib/mysql/mysql.sock
default-character-set = utf8

[mysqld]
# GENERAL #
user = mysql
default_storage_engine = InnoDB
socket = /var/lib/mysql/mysql.sock
pid_file = /var/lib/mysql/mysql.pid
sql_mode = "NO_ENGINE_SUBSTITUTION"
performance_schema = off
collation-server = utf8_unicode_ci
character-set-server = utf8

# SAFETY #
max_allowed_packet = 268435456
max_connect_errors = 1000000

# DATA STORAGE #
datadir = /var/lib/mysql/
tmpdir = /var/tmp

# CACHES AND LIMITS #
max_connections = 800
max_user_connections = 80
wait_timeout = 600
interactive_timeout = 600
connection_timeout = 180

# INNODB #
innodb_log_file_size = 256M
innodb_file_per_table = 1
innodb_buffer_pool_size = 2G
tmp_table_size = 64M
max_heap_table_size = 64M
innodb_flush_log_at_trx_commit = 1

# LOGGING #
log_error = /var/lib/mysql/mysql-error.log
log_warnings = 2

[mysqldump]
quick
max_allowed_packet = 512M
